*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #ee9ca7;
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  );
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  );
}